*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
*:not(.material-iconts) {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none !important;
}
li, ul {
  list-style-type: none !important;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: beige;
}
main {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
main {
  font-size: 35px;
}
@media(max-width:2280px) {
  main {
    font-size: 28px;
  }
}
@media(max-width:2160px) {
  main {
    font-size: 26px;
  }
}
@media(max-width:1800px) {
  main {
    font-size: 22px;
  }
}
@media(max-width:1608px) {
  main {
    font-size: 20px;
  }
}
@media(max-width:1440px) {
  main {
    font-size: 18px;
  }
}
@media(max-width:1200px) {
  main {
    font-size: 16px;
  }
}
@media(max-width:1085px) {
  main {
    font-size: 15px;
  }
}
@media(max-width:950px) {
  main {
    font-size: 13px;
  }
}
@media(max-width:600px) {
  main {
    font-size: 12px;
  }
}
@media(max-width:450px) {
  main {
    font-size: 10px;
  }
}
@media(max-width:350px){
  main{
    font-size: 8px;
  }
}
@media(max-width:300px){
  main{
    font-size: 7px;
  }
}
/*================================*/
.home a {
  background-image: url("images/arrow.png");
  background-position: bottom left;
  background-size: 200%;
  width: 1.2em;
  height: 1.2em;
  display: block;
  margin: 0 auto;
}
.home {
  transition: 0.3s;
}
.home a span {
  display: none;
}
.home:hover {
  background-color: gold;
}
.home:hover a {
  background-position: bottom right;
}
.parentAnchor {
  font-size: 1em;
  text-transform: capitalize;
  background-color: #b170a1;
  color: white;
  padding: 1em;
  transition: 0.3s;
  display: inline-block;
}
.parentAnchor:hover {
  background-color: gold;
  color: #b4007a;
}
.childNav {
  background-color: gold;
  position: absolute;
  top: 100%;
  left: 0;
  width: 14em;
  transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0)
	-webkit-transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  z-index: 999;
}
.childNav a {
  display: block;
  color: white;
  text-transform: capitalize;
  color: #b4007a;
  padding: 0.5em;
  text-align: left;
  font-size: 1em;
  transition: 0.3s;
}
.childNav a:hover {
  background-color: yellow;
}
.main-nav li:hover .childNav {
  transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1)
	-webkit-transform: scaleY(1);
}
.mobileDropDown {
	display: none;
	background-image: url("images/arrow.png");
	background-color: white;
	background-position: top right;
	height: 2em;
	width: 2em;
	border: 5px solid white;
	background-size: 200%;
	border-radius: 50%;
	position: absolute;
	right: 2em;
	top: 1em;
	transition: 0.3s;
	font-size: inherit;
}
.home a span {
  display: none;
  text-transform: capitalize;
  font-size: 1em;
  color: white;
}
/*================================*/
.masthead {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  /* box-shadow: 0px 0px 15px black; */
}
.masthead section {
	width: 100%;
	/* height: 6em; */
	margin: 0 auto;
	position: relative;
	background-image: url("images/purpleTapas.jpg");
  background-size: contain;
	text-align: center;
}
.logo {
	height: 6em;
	padding: 0.25em;
	z-index: 999;
	margin: 0 auto;
	display: inline-block;
}
.logo img {
  height: 100%;
}
.cart-link {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: 0.3s;
}
.cart-link:hover {
  transform: translateY(-50%) scale(1.2);
  -moz-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  -o-transform: translateY(-50%) scale(1.2);
  -webkit-transform: translateY(-50%) scale(1.2);
}
.cart-link .material-icons {
  color: white;
  font-size: 3em;
  border-radius: 50%;
  padding: 0.15em;
}
#tool-tip-desktop {
	position: absolute;
	left: 7.5em;
	font-size: 1em;
	color: darkgreen;
	width: 10em;
	background-color: #ffe400;
	padding: 0.33em;
	top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
	text-transform: capitalize;
	text-align: center;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}
#tool-tip-desktop::after {
	content: '';
	position: absolute;
	left: -1.5em;
	top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 1.65em solid transparent;
	border-bottom: 1.65em solid transparent;
	border-right: 1.5em solid #ffe400;
}
.menu-btn {
	position: absolute;
	left: 2em;
	top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
	width: 4em;
	height: 3em;
	transition: 0.3s;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 0.75em;
}
.menu-btn:hover {
  transform: translateY(-50%) scale(1.2);
  -moz-transform: translateY(-50%) scale(1.2);
  -ms-transform: translateY(-50%) scale(1.2);
  -o-transform: translateY(-50%) scale(1.2);
  -webkit-transform: translateY(-50%) scale(1.2);
}

.menu-btn hr {
  display: block;
  width: 100%;
	transition: 0.3s;
  position: absolute;
  border: 0.25em solid white;
  height: 0;
}
.menu-btn-hr-1{
  top: 0;
  left: 50%;
	-moz-transform:translateX(-50%) rotate(0deg);
	-ms-transform:translateX(-50%) rotate(0deg);
	-o-transform:translateX(-50%) rotate(0deg);
	-webkit-transform:translateX(-50%) rotate(0deg);
					transform:translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2{
  top: 50%;
  left: 50%;
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
					transform:translate(-50%,-50%);
}
.menu-btn-hr-3{
  bottom: 0;
  left: 50%;
	-moz-transform:translateX(-50%) rotate(0deg);
	-ms-transform:translateX(-50%) rotate(0deg);
	-o-transform:translateX(-50%) rotate(0deg);
	-webkit-transform:translateX(-50%) rotate(0deg);
					transform:translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1{
  top: 50%;
	-moz-transform:translate(-50%,-50%) rotate(-45deg);
	-ms-transform:translate(-50%,-50%) rotate(-45deg);
	-o-transform:translate(-50%,-50%) rotate(-45deg);
	-webkit-transform:translate(-50%,-50%) rotate(-45deg);
					transform:translate(-50%,-50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2{
  opacity: 0;
}
.menu-btn.active .menu-btn-hr-3{
  top: 50%;
	-moz-transform:translate(-50%,-50%) rotate(45deg);
	-ms-transform:translate(-50%,-50%) rotate(45deg);
	-o-transform:translate(-50%,-50%) rotate(45deg);
	-webkit-transform:translate(-50%,-50%) rotate(45deg);
					transform:translate(-50%,-50%) rotate(45deg);
}
/*=====================*/
main {
  white-space: nowrap;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
}
.menu-btn {
  display: block;
}
.home {
  padding: 1em;
}
.home a {
  margin: 0;
  width: auto;
  height: auto;
  background: none;
  display: inline-block;
}
.home a span {
  display: inline-block;
}
.main-nav {
	width: 0;
	height: 100vh;
	background-color: #b170a1;
	z-index: 999;
	display: inline-block;
	position: relative;
	vertical-align: top;
	overflow: hidden;
	top: 0;
	white-space: normal;
	margin-right: -5px;
	transition: 0.3s;
}
@media(max-width:586px){
  .main-nav{
    margin-right: -3px;
  }
}
.main-item {
  display: block;
  float: none;
  text-align: left;
  padding: 0.25em;
}
.main-nav.active {
  width: 20em;
}
.menu-btn.active::before {
  box-shadow: 7px 1px 10px -10px #0009;
}
.main-nav section {
  position: relative;
  height: 100%;
  margin-right: 1em;
  width: 107%;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  top: 0;
}
.main-nav ul {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.main-nav li {
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
}
.mobileDropDown {
  display: block;
}
.mobileDropDown.active {
  background-position: top left;
}
.childNav {
  background-color: white;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  transform: scaleY(1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.childNav a {
  color: cadetblue;
  text-align: center;
}
.childNav a:hover {
  background-color: gold;
}
.phone {
  text-align: center;
  width: 100%;
  z-index: 998;
  position: absolute;
  top: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
  background-color: gold;
}
.phone ul {
  margin: 0 auto;
  display: table;
  width: 100%;
  max-width: 1200px;
}
@media(max-width:1440px) {
}
.phone ul li {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.phone-left {
  text-align: center;
}
.phone-right {
  text-align: center;
}
.phone ul li a {
	display: inline-block;
	width: auto;
	height: 100%;
	font-size: 1.5em;
	transition: 0.3s;
	cursor: pointer;
	color: #9f0402;
	background-color: gold;
	padding: 0.75em;
	text-shadow: 0px 0px 5px white;
}
.phone ul li a span {
  font-size: 0.75em;
  text-transform: capitalize;
}
@media(max-width:1000px) {
	#tool-tip-desktop::after {
		left: -1.45em;
	}
}
@media(max-width:600px) {
	#tool-tip-desktop{
		display: none;
	}
}
#next-checkpoint {
  font-size: 30px;
  background-color: gold;
  color: darkgreen;
  border: 0;
  padding: 0.25em;
  width: 300px;
  text-transform: capitalize;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}
/* === banner ===*/
.banner-wrapper {
  width: 100%;
  height: 40em;
  position: relative;
  background-size: cover;
  background-image: url("images/oahu_luaus_sunset.jpg");
  background-position: top;
  transition: 1s;
  overflow: hidden;
  opacity: 0;
}
.banner {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100%;
}
.banner section {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 90%;
	height: 13em;
	border: 6px solid white;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.banner hr {
	position: absolute;
	left: 50%;
	top: 32.65em;
	width: 55em;
	border-top: 0px solid white;
	border-left: 0px solid white;
	border-right: 0px solid white;
	border-bottom: 6px solid white;
	z-index: 2;
  -moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
}
.checkpoint-first.active .banner-wrapper {
  opacity: 1;
}
.banner img {
  position: absolute;
  right: 6em;
  height: 30em;
  bottom: -1em;
  transition: 1s;
  z-index: 1;
}
.banner section header {
	width: 100%;
	height: 100%;
	text-align: left;
	font-size: 3.5em;
	color: white;
	text-transform: capitalize;
	line-height: 1em;
	padding: 0.4em;
	font-weight: normal;
}
.banner section header h1 {
	display: inline-block;
	color: white;
	text-transform: capitalize;
	width: 57%;
	font-size: 1.15em;
}
#tour-br{
	display: none;
}
.checkpoint-first.active .banner img {
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.banner button {
  font-size: 3em;
  color: #037e00;
  padding: 0.1em 1em;
  box-shadow: 0px 4px 10px #0000004d;
  background-color: gold;
  border: 0;
  border-radius: 1em;
}
/* === islands ===*/
@media(max-width:1052px) {
  .banner img {
    right: 7em;
  }
}
@media(max-width:1000px){
	.banner section {
	width: 90%;
 }
 .banner hr {
	width: 90%;
	}
	.banner img {
	right: 3em;
	}
}
@media(max-width:867) {
  .banner img {
    right: 6em;
  }
}
@media(max-width:745px) {
	.banner section {
	 height: 14em;
	}
	.banner hr {
	 top: 33.65em;
	}
	.banner section header span {
	width: 8em;
	}
}
@media(max-width:690px) {
	.banner section {
		height: 18em;
		top: 40%;
	}
	.banner section header span {
		width: 6em;
	}
}
@media(max-width:510px) {
	.banner img {
		right: 0em;
		height: 26em;
	}
	.banner section {
	height: 17em;
	top: 43%;
	}
}
@media(max-width:400px){

}
/*========*/
.island-nav {
  width: 100%;
  background-color: #004d8f;
}
.island-nav section {
  max-width: ;
  margin: 0 auto;
  text-align: center;
  border: 5px solid white;
  position: relative;
  background: #00b39a;
  background: -moz-radial-gradient(center, ellipse cover,  #84d1ff 0%, #6d6188  99%);
  background: -webkit-radial-gradient(center, ellipse cover,  #84d1ff 0%, #6d6188 99%);
  background: radial-gradient(ellipse at center,  #84d1ff 0%, #6d6188  99%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#84d1ff', endColorstr='#6d6188', GradientType=1);
  width: 100%;
}
.island-nav header {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  color: white;
  text-transform: capitalize;
  line-height: 0.75em;
  padding: 0.6em;
  background-image: url("images/design_4.png");
  background-size: contain;
  background-repeat: repeat-x;
}
.island-nav header span {
  font-size: 24px;
  line-height: 0em;
}
.map-content {
  overflow: hidden;
  width: 100%;
  height: 22em;
  margin: 0 auto;
  padding: 0.5em;
  position: relative;
  text-align: center;
  background-image: url("images/turtle_icon.png");
  background-size: 8em;
  background-position: 4% 90%;
  background-repeat: no-repeat;
}
.island-a {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 10em;
}
.island-a a {
  position: absolute;
  left: 0;
  z-index: 2;
}
.maui-a a {
  top: -9em;
  transition: 0.25s;
}
.checkpoint.active .maui-a a {
  top: 0;
}
.oahu-a a {
  top: -9em;
  transition: 0.5s;
}
.checkpoint.active .oahu-a a {
  top: 4em;
}
.kauai-a a {
  top: -9em;
  transition: 0.75s;
}
.checkpoint.active .kauai-a a {
  top: 8em;
}
.big-island-a a {
  top: -12em;
  transition: 1s;
}
.checkpoint.active .big-island-a a {
  top: 9em;
}
.island-a img {
	width: 80%;
}
.island-a h3 {
  font-size: 3em;
  color: #fff300;
  font-weight: bold;
  text-shadow: 0px 1px 0px darkred,
  0px 2px 0px darkred,
  0px 3px 0px darkred,
  0px 4px 0px darkred,
  0px 5px 0px darkred,
  0px 6px 0px darkred,
  0px 7px 0px darkred,
  0px 0.15em 0.2em rgba(0,0,0,0.25);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 3;
  text-transform: uppercase;
  font-family: 'Odibee sans';
  font-weight: bolder;
  line-height: 1em;
  /* text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5); */
  transition: 0.3s;

}
.island-a:hover h3 {
  transform: scale(1.25, 1.25);
}
.maui-a h3 {
  top: 30%;
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
.oahu-a h3 {
  top: 35%;
  -moz-transform: translateY(-35%);
  -ms-transform: translateY(-35%);
  -o-transform: translateY(-35%);
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}
.kauai-a h3 {
  bottom: 40%;
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}
.big-island-a h3 {
  bottom: 30%;
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
@media(max-width:650px){
	.checkpoint .maui-a a {
	  top: 0;
	}
	.checkpoint .oahu-a a {
	  top: 4em;
	}
	.checkpoint .kauai-a a {
	  top: 8em;
	}
	.checkpoint.active .big-island-a a,
	.checkpoint .big-island-a a {
	  top: 9em;
	}
}
@media(max-width:600px) {
	.island-a {
		width: 20%;
	}
}
/* === activites ===*/
.activities header {
  width: 100%;
  height: 20em;
  position: relative;
  overflow: hidden;
}
.activities header h2 {
	position: absolute;
	font-size: 3em;
	color: white;
	line-height: 0.9em;
	text-transform: capitalize;
	transition: 1s;
	text-shadow: 0em 0.1em 0.15em #00000073;
	background-color: rgba(0,0,0,0.33);
	padding: 0.5em 1em;
  z-index: 4;
}
.activities header h2 span {
  font-size: 0.5em;
}
.activities header:before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}
.activities header img {
	position: absolute;
	height: 100%;
	transition: 1s;
}
/*========================================================================*/
#oahu-luau.activities header img {
	bottom: 0;
	left: 3em;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.checkpoint.active #oahu-luau.activities header img {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
#oahu-luau.activities header h2 {
  right: 0.25em;
  top: 50%;
  text-align: right;
  padding-right:1em;
  -moz-transform: translateX(300%) translateY(-50%);
  -ms-transform: translateX(300%) translateY(-50%);
  -o-transform: translateX(300%) translateY(-50%);
  -webkit-transform: translateX(300%) translateY(-50%);
          transform: translateX(300%) translateY(-50%);
}
.checkpoint.active #oahu-luau.activities header h2 {
  -moz-transform:translateX(0%) translateY(-50%);
  -ms-transform:translateX(0%) translateY(-50%);
  -o-transform:translateX(0%) translateY(-50%);
  -webkit-transform:translateX(0%) translateY(-50%);
          transform:translateX(0%) translateY(-50%);
}
#oahu-luau header:before{
  background-image: url("images/oahuBanner.jpg");
  background-position: top;
}
/*========================================================================*/
#big-island-luau header:before{
  background-image: url("images/bigislandBanner.jpg");
  background-position: top;
}
#big-island-luau.activities header img {
	bottom: 0;
  right: 3em;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.checkpoint.active #big-island-luau.activities header img {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
#big-island-luau.activities header h2 {
  left: 0.25em;
  top: 50%;
  text-align: left;
  padding-left:1em;
  -moz-transform: translateX(-300%) translateY(-50%);
  -ms-transform: translateX(-300%) translateY(-50%);
  -o-transform: translateX(-300%) translateY(-50%);
  -webkit-transform: translateX(-300%) translateY(-50%);
          transform: translateX(-300%) translateY(-50%);
}
.checkpoint.active #big-island-luau.activities header h2 {
  -moz-transform:translateX(0%) translateY(-50%);
  -ms-transform:translateX(0%) translateY(-50%);
  -o-transform:translateX(0%) translateY(-50%);
  -webkit-transform:translateX(0%) translateY(-50%);
          transform:translateX(0%) translateY(-50%);
}
/*========================================================================*/
#maui-luau header:before{
  background-image: url("images/mauiBanner.jpg");
  background-position: top;
}
#maui-luau.activities header img {
	bottom: 0;
  right: 3em;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.checkpoint.active #maui-luau.activities header img {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
#maui-luau.activities header h2 {
  left: 0.25em;
  top: 50%;
  text-align: left;
  padding-left:1em;
  -moz-transform: translateX(-300%) translateY(-50%);
  -ms-transform: translateX(-300%) translateY(-50%);
  -o-transform: translateX(-300%) translateY(-50%);
  -webkit-transform: translateX(-300%) translateY(-50%);
          transform: translateX(-300%) translateY(-50%);
}
.checkpoint.active #maui-luau.activities header h2 {
  -moz-transform:translateX(0%) translateY(-50%);
  -ms-transform:translateX(0%) translateY(-50%);
  -o-transform:translateX(0%) translateY(-50%);
  -webkit-transform:translateX(0%) translateY(-50%);
          transform:translateX(0%) translateY(-50%);
}
/*========================================================================*/
#kauai-luau header:before{
  background-image: url("images/shoreBackground.jpg");
  background-position: top;
}
#kauai-luau.activities header img {
	bottom: 0;
	left: 3em;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.checkpoint.active #kauai-luau.activities header img {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
#kauai-luau.activities header h2 {
  right: 0.25em;
  top: 50%;
  text-align: right;
  padding-right:1em;
  -moz-transform: translateX(300%) translateY(-50%);
  -ms-transform: translateX(300%) translateY(-50%);
  -o-transform: translateX(300%) translateY(-50%);
  -webkit-transform: translateX(300%) translateY(-50%);
          transform: translateX(300%) translateY(-50%);
}
.checkpoint.active #kauai-luau.activities header h2 {
  -moz-transform:translateX(0%) translateY(-50%);
  -ms-transform:translateX(0%) translateY(-50%);
  -o-transform:translateX(0%) translateY(-50%);
  -webkit-transform:translateX(0%) translateY(-50%);
          transform:translateX(0%) translateY(-50%);
}
.checkpoint.active .activities header:before {
  opacity: 1;
}
/*========================================================================*/
.activities-container {
  width: 100%;
  background-color: #ffedd8;
  position: relative;
  background-image: url("images/tapas.jpg");
  background-size: contain;
}
.activities-container section {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  position: relative;
  width: 100%;
  padding: 3em 0em;
}
.activities-nav {
  padding: 3em;
}
.activity {
  display: inline-block;
  width: 24%;
  padding-top: 1em;
  position: relative;
}
.activity-img {
	width: 14em;
	height: 14em;
	margin: 0 auto;
	border-radius: 50%;
	border: 3px solid white;
	overflow: hidden;
	position: relative;
}
.activity-img img{
  position: absolute;
}
.activity-img img {
	position: absolute;
	width: 60em;
}
.luau-1{
  left: 0em;
  top: 0em;
}
.luau-2{
  left: -15em;
  top: 0em;
}
.luau-3{
  left: -30em;
  top: 0em;
}
.luau-4{
  left: -45em;
  top: 0em;
}
.activity ul {
	display: table;
	padding: 0.5em;
	background-color:#7b09bb;
	border-radius: 3em;
  margin-top: 1em;
}
.activity ul li {
	display: table-cell;
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
}
.activity ul li span{
  color: white;
  text-transform: capitalize;
}
.activity-title{
  width: 60%;
}
.activity-price{
  width: 40%;
}
.more-luaus {
	color: darkgreen;
	background-color: gold;
	border: 0;
	padding: 0.75em 3em;
	border-radius: 2em;
	font-size: 1.25em;
	text-transform: capitalize;
	margin: 1em auto;
	display: inline-block;
}
.next-island{
  color: darkgreen;
	background-color: gold;
	border: 0;
	padding: 0.75em 3em;
	border-radius: 2em;
	font-size: 1.25em;
	text-transform: capitalize;
	margin: 1em auto;
}
.next-island .material-icons {
	display: inline-block;
	vertical-align: middle;
}
.detail-btn {
	width: 4em;
	height: 4em;
	background-color: gold;
	border-radius: 3em;
	border: 0;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 0;
}
.detail-btn .material-icons {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  font-size: 4em;
  cursor: pointer;
}
/*======================================*/
.detail-window{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 0;
  width: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  z-index: 998;
}
.detail-window.active{
  height: 100%;
  width: 100%;
}
.detail{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 40em;
  background-color: white;
  z-index: 999;
}
.detail header{
  width: 100%;
  position: relative;
  padding: 1em;
  text-align: center;
}
.detail h3 {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
  padding: 0.25em 0.5em;
}
.detail header button{
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  background: none;
  border: none;
}
.detail article {
  width: 100%;
  text-align: center;
}
.detail .detail-img{
  width: 14em;
  height: 13em;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.detail .detail-img img{
  width: 60em;
  position: absolute;
}
.detail p {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  position: relative;
  overflow: hidden;
  padding: 0em 1em;
  text-align: justify;
  line-height: 1.5em;
}
.detail ul {
  display: table;
  text-align: center;
  width: 100%;
}
.detail ul li {
  text-align: center;
  display: table-cell;
  width: 33.3%;
  text-transform: capitalize;
  padding-top: 0.5em;
}
.detail ul li span {
  color: purple;
  font-size: 1.5em;
  font-weight: normal;
  display: block;
}
.detail a {
  display: inline-block;
  background-color: gold;
  padding: 0.5em 2em;
  text-align: center;
  text-transform: capitalize;
  font-weight: normal;
  margin: 0.5em;
  float: right;
  border-radius: 2em;
  font-size: 1.15em;
}
/*==========================*/
/* === tours ===*/
@media(max-width:900px){
  .activities header {
  	font-size: 0.9em;
  }
  .activities-nav {
	  padding: 3em;
	  max-width: 60em;
	  width: 100%;
	  margin: 0 auto;
  }
  .activity {
	  width: 49%;
  }
  .activity ul {
	  margin: 1em auto;
  }
}
@media(max-width:850px){
  #big-island-luau.activities header img {
	right: -2em;
  }
}
@media(max-width:780px){
  #oahu-luau.activities header img {
	left: -3em;
  }
  .activities header h2 {
	width: 50%;
  }
  .activities header h2 span {
	line-height: 0.25em;
  }
  .activities header h2 {
	width: 50%;
  text-align: center;
  }
  .activities header {
	font-size: 0.8em;
  }
}
@media(max-width:500px){
  .detail-btn {
	top: -1em;
	right: -1em;
  }
  .activity ul{
    width: 100%;
    display: block;
    text-align: center;
  }
  .activity ul li {
   font-size: 1.5em;
    display: block;
    width: 100%;
  }
}
/* === featured ===*/
.article-wrapper {
  width: 100%;
  background-color: white;
  padding: 3em 0em;
  background-size: auto;
  background-position: center;
}
.article-wrapper header {
  font-size: 3em;
  text-transform: capitalize;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}
.article-section {
  width: 100%;
  margin: 0 auto;
}
.article-bloc {
  width: 100%;
  vertical-align: middle;
  white-space: normal;
  padding-top: 2em;
  padding-bottom: 2em;
}
.article-img, .article-bloc article {
  display: table-cell;
  vertical-align: middle;
}
.article-img {
  width: 40%;
  background-color: white;
  font-size: 1.55em;
}
.article-img p {
  text-transform: capitalize;
  font-size: 0.85em;
  padding-left: 1em;
  width: 100%;
  text-align: center;
  color: purple;
}
#playerWrapper {
  position: relative;
  width: 100%;
  display: block;
  height: 13em;
}
#player {
  width: 16em;
  height: 9em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.article-img img{
  width: 100%;
}
.article-bloc article {
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}
.article-img {
  background-size: cover;
  /* box-shadow: inset 0px 0px 15px black; */
}
.article-bloc article header {
  font-size: 24px;
  text-transform: capitalize;
}
.article-bloc article p {
	line-height: 2em;
	font-size: 1em;
	font-weight: 300;
	padding: 2em;
	text-align: justify;
}
.article-bloc article p span {
	display: inline-block;
	float: left;
	font-size: 4em;
	padding: 0.5em;
	color: darkred;
}
.scroll-nav {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
@media(max-width:1250px) {
  .scroll-nav {
    width: 100%;
  }
}
.scroll-nav ul {
  display: table;
  margin: 0 auto;
}
.scroll-nav ul li {
  display: table-cell;
  vertical-align: middle;
}
#prev-scroll, #next-scroll {
  background: none;
  border: 0;
  transition: 1;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
  vertical-align: middle;
}
#prev-scroll .material-icons, #next-scroll .material-icons {
  font-size: 50px;
  cursor: pointer;
}
#prev-scroll:active .material-icons, #next-scroll:active .material-icons {
  color: pink;
  text-shadow: 0px 0px 15px;
}
.scroll-nav p {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  vertical-align: top;
}
@media(max-width:1000px) {
  .article-bloc{
    padding-top: 0;
  }
  .article-bloc article {
	display: block;
  width: 100%;
  }
  .article-bloc article p {
	line-height: 2.4em;
  }
  .article-img {
	width: 100%;
	display: block;
	height: 12em;
	overflow: hidden;
	position: relative;
	text-align: center;
  }
  .article-img img {
	width: 100%;
	position: absolute;
	top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
  }
  #article-2 {
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform:  scaleY(-1);
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  }
  #article-2 .article-img{
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform:  scaleY(-1);
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  #article-2 article{
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform:  scaleY(-1);
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  #article-4 {
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform:  scaleY(-1);
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  #article-4 .article-img{
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform:  scaleY(-1);
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  #article-4 article{
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform:  scaleY(-1);
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}
/*===========*/
.coverage-section {
	position: relative;
	z-index: 1;
	text-align: center;
	background-color: #43bcce;
	white-space: normal;
	background-image: url("images/seal.png");
	background-size: 50%;
	background-repeat: no-repeat;
}
.coverage-section h2 {
	font-size: 2.5em;
	text-align: center;
	padding: 0.75em;
	color: white;
	text-transform: capitalize;
	font-weight: lighter;
	width: auto;
	display: inline-block;
	margin: 0.25em auto;
}
.coverage-section ul{
  display: table;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}
.coverage-section ul li{
  display: table-cell;
  width: 25%;
  vertical-align: top;
}
.coverage-section ul li span {
	height: 4em;
	width: 4em;
	position: relative;
	display: block;
	margin: 0 auto;
	background-color: #ffffffc9;
	border-radius: 4em;
	border: 0.2em solid white;
}
.coverage-section ul li header {
	text-transform: capitalize;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 300;
	padding-top: 0.5em;
}
.coverage-section ul li p {
	color: #51593f;
	padding: 1em 1em;
	text-align: center;
	font-weight: 300;
	font-size: 1.15em;
	color: white;
}
.material-icons.icon-first, .material-icons.icon-second {
	position: absolute;
	color: darkslategray;
}
#c-1 .material-icons.icon-first {
  font-size: 3em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
  z-index: 1;
}
#c-1 .material-icons.icon-second {
	font-size: 1em;
  left: 50%;
  top: 33%;
  transform: translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
  z-index: 2;
}
#c-2 .material-icons.icon-first {
  right: 0.25em;
  top: 0.25em;
  font-size: 2em;
}
#c-2 .material-icons.icon-second {
  top: 1em;
  left: 0.25em;
  font-size: 1.75em;
}
#c-2 .material-icons.icon-first {
  right: 0.25em;
  top: 0.25em;
  font-size: 2em;
}
#c-3 .material-icons.icon-first {
  font-size: 3em;
  left: 50%;
  top: 50%;
	transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
#c-4 .material-icons.icon-first {
  left: 50%;
  top: 0.05em;
  transform: translateX(-50%);
  font-size: 2em;
}
#c-4 .material-icons.icon-second {
  font-size: 2.25em;
  left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
  top: 0.65em;
}
@media(max-width:900px){
	.coverage-section{
	  padding: 1em;
	}
}
@media(max-width:900px){
	.coverage-section ul li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 0px -2px;
	}
}
/* === footer ===*/

.footer {
  padding: 2em;
  border-top: 0.5em solid white;
  background-color: #333;
}
.social {
  text-align: center;
  display: table;
  margin: 0 auto;
  width: 8em;
}
.footer-phone {
  color: gold;
  font-size: 1.25em;
  margin-bottom: 0.75em;
  display: inline-block;
  text-transform: capitalize;
}
.social a {
  display: table-cell;
  width: 25%;
  height: 2em;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  padding: 1em;
  border: 0.25em solid #333;
}
.social a img {
  position: absolute;
  left: 0;
  width: 100%;
}
#social-fb {
  top: 0;
}
#social-tw {
  top: -2em;
}
#social-yt {
  top: -4em;
}
#social-ig {
  bottom: 0;
}
#footer-logo {
  width: 9em;
  display: block;
  margin: 0 auto;
}
.footer ul {
  width: 100%;
  display: table;
  list-style-type: none;
}
.footer hr {
  opacity: 0;
}
.footer-main {
  display: table-cell;
  width: 33.3%;
  text-align: center;
  position: relative;
  vertical-align: top;
}
.footer-nav {
  display: table-cell;
  width: 33.3%;
  text-align: center;
  position: relative;
  vertical-align: top;
}
.footer-nav a {
  color: white;
  text-transform: capitalize;
  margin: 1em;
  display: inline-block;
}
.footer p {
  padding: 1em;
  text-align: center;
  color: white;
}
